
<html>
  <!--Exibe título-->
  <h1>Yoko Kanno</h1>
  <!--Um nav que adiciona 2 hyperlinks, um para a sessão 'Musicas' e outro para a sessão 'Dashboard'-->
  <nav>
      <a routerLink="/dashboard">Dashboard</a>
      <a routerLink="/musicas">Músicas</a>
  </nav>
  <!--Utiliza o seletor 'router-outlet' para utilizar um  'Router'-->
  <router-outlet></router-outlet>
  <!--Utiliza o seletor 'app-messages' para utilizar a classe 'NotificacoesComponent'-->
  <app-notificacoes></app-notificacoes>
</html>
  